
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" >
        <mat-card-header>
            <nav class="navbar">
  
                <!-- logo -->
                <div class="navbar-brand">
                  <a class="navbar-item">
                    <!-- <img src="../../assets/images/breeze.png"> -->
                    <i class="material-icons">
                        person_add
                        </i>
  
                  </a>
                </div>
              </nav>
          <!-- <mat-card-title>Log In</mat-card-title> -->
          <mat-card-title>Join Breeze Community</mat-card-title>
        </mat-card-header>
       
      <form class="example-form">
          <mat-card-content>
           <div fxLayout="column" fxLayoutAlign="center center" class="row">
                  <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
                      <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
                          <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
  
                            
  
                              <mat-form-field class="example-full-width">
                        
                                  <input matInput placeholder="First Name" [(ngModel)]="reg.Firstname"  name="fname" required>
                                  <mat-icon matPrefix>person</mat-icon>
                                 
                                  </mat-form-field>
  
                                  <mat-form-field class="example-full-width">
                        
                                      <input matInput placeholder="Last Name" [(ngModel)]="reg.Lastname"  name="lname" required>
                                      <mat-icon matPrefix>person</mat-icon>
                                     
                                      </mat-form-field>
                  </div>
              </div>
            </div>
          </div>
  
         
  
          <div fxLayout="column" fxLayoutAlign="center center" class="row">
              <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
                  <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
                      <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
                            <mat-form-field class="example-full-width">
                        
                              <input matInput placeholder="Email ID" [(ngModel)]="reg.Email" type="email"  name="email" #userEmail required>
                              <mat-icon matPrefix>mail</mat-icon>
                             
                              </mat-form-field>
  
                              <mat-form-field class="example-full-width">
                        
                                  <input matInput placeholder="Mobile Number" [(ngModel)]="reg.Phonenumber"  name="mobile" required>
                                  <mat-icon matPrefix>call</mat-icon>
                                 
                                  </mat-form-field>
                      </div>
                  </div>
              </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="row">
              <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
                  <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
                      <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
  
                          <mat-form-field class="example-full-width">
                   
                              <input matInput placeholder="Enter Password" [(ngModel)]="reg.Password" type="password" name="password" #userPwd required>
                              <mat-icon matPrefix>lock</mat-icon>
                            </mat-form-field>
                          
                            <mat-form-field class="example-full-width">
                                <mat-label>Gender</mat-label>
                                <mat-select [value]="reg.gender">
                                  <mat-option *ngFor="let gender of Gender" >{{ gender }}</mat-option>
                                  
                                </mat-select>
                              </mat-form-field>
                          
  
                          <!-- <mat-form-field class="example-full-width">
                              
                              <mat-label>Gender</mat-label>
                              <mat-icon matPrefix>people</mat-icon> 
                              <mat-select>
                                <mat-option [value]="Gender"   *ngFor="let Gender of Gender " >{{Gender}}
                                  
                                     
                                </mat-option>
                              </mat-select>
                            </mat-form-field> -->
  
                         
            
                      </div>
                  </div>
              </div>
          </div>
  
          <div fxLayout="column" fxLayoutAlign="center center" class="row">
              <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
                  <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
                      <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
  
                          <mat-form-field>
                              <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" >
                                <!-- <mat-icon matPrefix>calendar_today</mat-icon> -->
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                     <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                      </div>
                  </div>
              </div>
          </div>
         
  
  
  
          
  
         
          <!-- <form action="#" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">
  
              <input type="checkbox" name="checkbox" value="check" id="agree" class="policy" /> I have read and agree to the Terms and Conditions and Privacy Policy
             
              
           </form> -->
  
           <!-- <p style="float: left; text-align:left; clear: both; margin: 5px 0;">
              <input style="float:left; vertical-align: left;" type="checkbox" id="agree" />
              <label style="display:inline; float:none" for="agree">
                I agree with the <a href="https://www.ixigo.com/about/more-info/terms-of-use/">terms and conditions</a>.
              </label>
            </p> -->
  
            <!-- <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label>Make my profile visible</label>
              </div>
         -->
  
         <!-- <div class="formGroup">
            <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignIn(userEmail.value, userPwd.value)">
          </div> -->
        <!-- <button mat-stroked-button color="primary" class="btn-block" (click)="authService.Register(userEmail.value, userPwd.value)">Register</button> -->
        <button mat-stroked-button color="primary" class="btn-block" (click)="createUser()">Register</button>   
      </mat-card-content>
      </form>
    </mat-card>
  </div>
